.flightModal {
	&__classType {
		text-align: center;
		text-transform: capitalize;
		font-weight: 500;
		margin-bottom: 2rem;
	}
	&__container {
		display: flex;
		justify-content: center;
		;
	}
	&__group {
		padding: 50px;
		margin: 2rem auto;
		line-height: 2.5;
		font-size: 1.2rem;
		text-transform: capitalize;
		box-shadow: $box-shadow;
		&--green {
			background: #bce4bc;
		}
		&--blue {
			background: #8ab0de;
		}
	}
	&__title {
		font-weight: 500;
	}
	.modalButtons {
		display: flex;
		justify-content: space-between;
	}
}
