.homepage{
  background: #001433;
background-image: linear-gradient(45deg, rgba(255, 251, 14, 0.36) 0%, rgb(38, 142, 237) 100%),url(/img/beach.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    height: 93.4vh;
    .header{
      display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 35vh 0;
     &__title{
          font-size: 5rem;
        font-weight: 300;
        letter-spacing: 10px;
        }
    }
    .button{
      box-shadow: $box-shadow;
      margin-top:2rem;

      &__link{
            transition: $transition;
        text-decoration: none;
    padding: 15px 50px;
    background: #fff;
    border:none;
    color: #36424b;
    font-weight: 300;
      font-size: 1.2rem;
        color: #0c2b51;
    cursor: pointer;
    &:hover{
      border-bottom:2px solid #0c2b51;

    }

      }
    }
}
