$background: #f3f3f3;
$box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
$border-input-bottom:#5695e1;
$table-text: #8b92a9;
$transition: all .3s ease-in-out;

//BREAKPOINTS
$breakpoint-materialNav: 992px;
$breakpoint-desktop1600: 1600px;
$breakpoint-desktop: 1200px;
$breakpoint-laptop: 950px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 450px;
